#station {
	height: 1000px;
	margin-left: 0px;
}

#walkers {
	height: 200%;
	margin-top: 200px;

}



#Stage {
	margin-top: 0px;
	margin-left: 0px;

}
#man {
	margin-top: 50px;
	margin-left: 60px;
	height: 50%;
	width: 50%
}

#floor {
	margin-top: 160px;
	margin-left: -30px
}

#slogan {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 500%;
	margin-top: 200px;
	margin-left: 300px;
}

#blackcolumn1 {
	margin-left: -1000px;
}

#blackcolumn2 {
	margin-left: 1000px;
}












.navigation {
    padding: 0px;
    list-style-type: none;
    position: fixed;
    margin: 10px;
    z-index: 1000;
}

.navigation > li button {
    cursor: pointer;
    width: 250px;
    color: #FFF;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid #FFF;
    padding: 10px 15px;
    margin-top: 10px;
    transition: background-color .15s linear;
}

.navigation> li button:focus {
    outline: 0 !important;
}

.navigation > li button:hover {
    background-color: #C2E0FF;
	border-radius: 5px;
    color: #0;
}
